/* You can add global styles to this file, and also import other style files */

html {
  display: table;
  margin: auto;
  height: 100%;
  width: 40%;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  display: table-cell;
  vertical-align: middle;
}

mat-form-field {
  width: 100%;
}

.col-6 {
  display: table;
  margin: auto;
}

@import "bootstrap/dist/css/bootstrap.min.css";
